* {
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
}

.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
textarea {
  background-color: antiquewhite;
}
.right {
  background-color: antiquewhite;
  width: 90%;
  min-height: 90%;
}
.center {
  margin: 10px auto;
}
.left {
  width: 45%;
}
.output {
  width: 50%;
}
